{% extends "layout.html" %}
{% load i18n %}
{% block content %}
{% load staticfiles %}

    <div id="starting">
      <div class="container">
        <div class="row">
          <h1>Listado de Noticias
          <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#addArticleModal">Nueva noticia</button>
          </h1>
          &emsp;
          <div class="form-inline my-2 my-lg-0" style="margin-left: 40%;">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" v-model="search_term" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" v-on:click.prevent="getArticles()">Buscar</button>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titular</th>
                <th scope="col">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="article in articles">
                <th scope="row">${article.article_id}</th>
                <td>${article.article_heading}</td>
                <td>
                  <button class="btn btn-info" v-on:click="getArticle(article.article_id)">Editar</button>
                  <button class="btn btn-danger" v-on:click="deleteArticle(article.article_id)">Borrar</button>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Add Article Modal -->
          <div class="modal fade" id="addArticleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Nueva noticia</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit.prevent="addArticle()">
                <div class="modal-body">
                    <div class="form-group">
                      <label for="article_heading">Titular</label>
                      <input
                        type="text"
                        class="form-control"
                        id="article_heading"
                        placeholder="Introduce el titular"
                        v-model="newArticle.article_heading"
                        required="required" >
                    </div>
                    <div class="form-group">
                      <label for="article_body">Texto</label>
                      <textarea
                        class="form-control"
                        id="article_body"
                        placeholder="Introduce texto de la noticia"
                        v-model="newArticle.article_body"
                        required="required"
                        rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
                </form>
              </div>
            </div>
            <div class="loading" v-if="loading===true">Cargando&#8230;</div>
          </div>
          <!-- End of add article modal -->
          <!-- Edit Article Modal -->
          <div class="modal fade" id="editArticleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Editar noticia</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit.prevent="updateArticle()">
                <div class="modal-body">
                    <div class="form-group">
                      <label for="article_heading">Titular</label>
                      <input
                        type="text"
                        class="form-control"
                        id="article_heading"
                        placeholder="Introduce el titular"
                        v-model="currentArticle.article_heading"
                        required="required" >
                    </div>
                    <div class="form-group">
                      <label for="article_body">Texto</label>
                      <textarea
                        class="form-control"
                        id="article_body"
                        placeholder="Introduce texto del artículo"
                        v-model="currentArticle.article_body"
                        required="required"
                        rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
                </form>
              </div>
            </div>
            <div class="loading" v-if="loading===true">Cargando&#8230;</div>
          </div>
          <!-- End of edit article modal -->

        </div>


      </div>

      <div class="loading" v-if="loading===true">Cargando&#8230;</div>
    </div>

  {% include "javascript.html" %}

  {% include "vue/noticias.html" %}

  {% endblock %}
